# Pandas Exercise - Pandas Pop
# SOLUTIONS

You should complete this exercise when prompted by the trainer as part of Session 1F : Python Programming Part 2 of the HSMA Programme.  Note - you only need to import and store the data in a DataFrame once (in the first task).  As long as that cell is run correctly, you don't need to do this again for each subsequent code cell.

**Task 1** Import Pandas with the appropriate alias, and read in the titanic_dataset.csv file into a Pandas DataFrame, setting the column PassengerId to be the index for the DataFrame.  Then display the first 10 rows of the DataFrame. (NOTE - ensure that the .csv is located in the same directory as this notebook - it is by default)

In [ ]:
import pandas as pd

titanic_df = pd.read_csv("titanic_dataset.csv", index_col="PassengerId")

titanic_df.head(10)

**Task 2** Create a new DataFrame that contains only the PassengerID, Name and Sex fields from the main data.  Display the first 10 entries of this new DataFrame.

In [ ]:
titanic_name_and_sex = titanic_df[["Name","Sex"]]

titanic_name_and_sex.head(10)

**Task 3** Create three new DataFrames that contain all the information from the original data but only for first class, second class and third class passengers respectively.  Display the first 10 entries of second class passengers.

In [ ]:
titanic_first_class = titanic_df.loc[titanic_df["Pclass"] == 1]
titanic_second_class = titanic_df.loc[titanic_df["Pclass"] == 2]
titanic_third_class = titanic_df.loc[titanic_df["Pclass"] == 3]

titanic_second_class.head(10)

**Task 4** Create a new DataFrame from the original data that contains all the information about female children passengers (those 16 and under).  Sort this DataFrame by age and then by passenger class, and display ALL the records.

In [ ]:
titanic_female_children = titanic_df.loc[(titanic_df["Sex"] == "female") & (titanic_df["Age"] <= 16)]

titanic_female_children.sort_values(by=["Age", "Pclass"], inplace=True)

titanic_female_children

**Task 5** Remove the name, ticket number and cabin number columns from the original dataset (so they are no longer in the original data) and display the first 10 records.

In [ ]:
titanic_df.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)

titanic_df.head(10)

**Task 6** Count how many males and females are in the data.

In [ ]:
titanic_df["Sex"].value_counts()

**Task 7** Use a pivot table to compare the mean age, number of siblings and spouses and fare paid across the three passenger classes.

In [ ]:
pivot_class = pd.pivot_table(data=titanic_df, index="Pclass",
                            values=["Age", "SibSp", "Fare"], aggfunc="mean")

pivot_class

**Task 8** Use a pivot table to compare the median fare paid across each of the three embarkation points.

In [ ]:
pivot_embark_fare = pd.pivot_table(data=titanic_df, index="Embarked",
                                  values="Fare", aggfunc="median")

pivot_embark_fare