# SQL Server Connection and Data Processing

This notebook demonstrates how to connect to a SQL Server database using `pyodbc`, fetch data, and display it using `pandas`.
The steps include:
1. Connecting to the SQL Server database using Windows authentication
2. Running a SQL query to fetch data
3. Displaying the data in a `pandas` DataFrame
4. Formatting the display for better readability

In [7]:
from sqlalchemy import create_engine  # Library for connecting to SQL Server
import pandas as pd  # Library for handling data in DataFrames

## Step 1: Define Connection Parameters

First, we define the **server** and **database** details needed to connect to the SQL Server database.

In [8]:
server = r'PSFADHSSTP02.ad.elc.nhs.uk\SWL'
database = 'Data_Lab_SWL_Dev'
driver = 'ODBC Driver 17 for SQL Server'

## Step 2: Create a Connection String and Create a SQLAlchemy engine

Next, we create the connection string, which will use **Windows authentication** to establish the connection to SQL Server.

In [9]:
conn_str = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver={driver}'
engine = create_engine(conn_str)

## Step 3: Define and Run SQL Query

We define the SQL query that will fetch the top 100 records from a specific table and then execute it.

In [10]:
query = """
SELECT TOP 100 * FROM [Data_Lab_SWL_Dev].[dbo].[Deprivation2019]
"""

## Step 4: Load the Data into Pandas DataFrame

The query results are loaded into a **pandas DataFrame** for further analysis and processing.

In [12]:
df = pd.read_sql(query, engine)

## Step 5: Format Data Display

To ensure the float values in the DataFrame are displayed neatly, we set a formatting option for pandas.

In [13]:
pd.set_option('display.float_format', '{:.2f}'.format)

## Step 6: Display the Data

Finally, we display the first few rows of the DataFrame using `df.head()`. This shows us a preview of the data fetched from the database.

In [14]:
df.head()

,LSOA code (2011),LSOA name (2011),Local Authority District code (2019),Local Authority District name (2019),Index of Multiple Deprivation (IMD) Score,Index of Multiple Deprivation (IMD) Rank (where 1 is most depriv,Index of Multiple Deprivation (IMD) Decile (where 1 is most depr,Income Score (rate),Income Rank (where 1 is most deprived),Income Decile (where 1 is most deprived 10% of LSOAs),...,Health Deprivation and Disability Decile (where 1 is most depriv,Crime Score,Crime Rank (where 1 is most deprived),Crime Decile (where 1 is most deprived 10% of LSOAs),Barriers to Housing and Services Score,Barriers to Housing and Services Rank (where 1 is most deprived),Barriers to Housing and Services Decile (where 1 is most deprive,Living Environment Score,Living Environment Rank (where 1 is most deprived),Living Environment Decile (where 1 is most deprived 10% of LSOAs
0,E01000647,Bromley 016B,E09000006,Bromley,6.90,28453.00,9.00,0.05,25133.00,8.00,...,10.00,-0.24,20268.00,7.00,20.16,16463.00,6.00,20.02,15276.00,5.00
1,E01000648,Bromley 016C,E09000006,Bromley,6.43,28942.00,9.00,0.05,25661.00,8.00,...,10.00,-0.83,27590.00,9.00,22.34,13913.00,5.00,19.04,16007.00,5.00
2,E01000649,Bromley 007B,E09000006,Bromley,9.06,25707.00,8.00,0.07,21854.00,7.00,...,10.00,-0.41,22625.00,7.00,31.58,5924.00,2.00,10.86,23147.00,8.00
3,E01000650,Bromley 022A,E09000006,Bromley,11.66,22579.00,7.00,0.07,21002.00,7.00,...,9.00,-0.13,18613.00,6.00,38.13,2791.00,1.00,10.63,23403.00,8.00
4,E01000651,Bromley 020A,E09000006,Bromley,9.79,24779.00,8.00,0.07,21715.00,7.00,...,10.00,-0.93,28542.00,9.00,36.72,3320.00,2.00,17.40,17288.00,6.00

## Step 8: Close the Connection

It's important to close the connection to the database once we're done fetching the data to free up resources.

In [9]:
conn.close()