# SQL Server Connection and Data Processing

This notebook demonstrates how to connect to a SQL Server database using `pyodbc`, fetch data, and display it using `pandas`.
The steps include:
1. Connecting to the SQL Server database using Windows authentication
2. Running a SQL query to fetch data
3. Displaying the data in a `pandas` DataFrame
4. Formatting the display for better readability

In [7]:
from sqlalchemy import create_engine  # Library for connecting to SQL Server
import pandas as pd  # Library for handling data in DataFrames

## Step 1: Define Connection Parameters

First, we define the **server** and **database** details needed to connect to the SQL Server database.

In [8]:
server = r'PSFADHSSTP02.ad.elc.nhs.uk\SWL'
database = 'Data_Lab_SWL_Dev'
driver = 'ODBC Driver 17 for SQL Server'

## Step 2: Create a Connection String and Create a SQLAlchemy engine

Next, we create the connection string, which will use **Windows authentication** to establish the connection to SQL Server.

In [9]:
conn_str = f'mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver={driver}'
engine = create_engine(conn_str)

## Step 3: Define and Run SQL Query

We define the SQL query that will fetch the top 100 records from a specific table and then execute it.

In [10]:
query = """
SELECT TOP 100 * FROM [Data_Lab_SWL_Dev].[dbo].[Deprivation2019]
"""

## Step 4: Load the Data into Pandas DataFrame

The query results are loaded into a **pandas DataFrame** for further analysis and processing.

In [12]:
df = pd.read_sql(query, engine)

## Step 5: Format Data Display

To ensure the float values in the DataFrame are displayed neatly, we set a formatting option for pandas.

In [13]:
pd.set_option('display.float_format', '{:.2f}'.format)

## Step 6: Display the Data

Finally, we display the first few rows of the DataFrame using `df.head()`. This shows us a preview of the data fetched from the database.

In [ ]:
df.head()